%div{"id" => "menu", "data-role" => "popup", "data-theme" => "b"}
  %ul{"data-role" => "listview", "data-inset" => "true"}
    %li
      %a{"href" => "#jifen", "data-role" => "button"} 计分规则
    %li
      %a{"href" => "#danda", "data-role" => "button"} 单打规则
