%footer{"data-role" => "footer", "data-position" => "fixed", "data-fullscreen" => "true"}
  %nav{"data-role" => "navbar"}
    %ul
      %li
        %a{"data-role" => "button", "href" => "#"} 1
      %li
        %a{"data-role" => "button", "href" => "#"} 2
