%header{"data-role" => "header", "data-position" => "fixed", "data-theme" => "b"}
  %h1 羽毛球比赛规则
  %a{"data-icon" => "home", "data-iconpos" => "notext", "class" => "ui-btn-left", "href" => "http://www.vxixi.com"} 电脑版
  %a{"data-icon" => "bars", "data-iconpos" => "notext", "class" => "ui-btn-right", "href" => "#menu", "data-rel" => "popup", "data-transition" => "slide"} 菜单
  %div{"id" => "menu", "data-role" => "popup", "data-theme" => "b", "class" => "pull-right"}
    %ul{"data-role" => "listview", "data-inset" => "true"}
      %li
        %a{"href" => "#jifen", "data-role" => "button"} 计分规则
      %li
        %a{"href" => "#faqiu", "data-role" => "button"} 发球规则
      %li
        %a{"href" => "#weili", "data-role" => "button"} 违例规则
      %li
        %a{"href" => "#danda", "data-role" => "button"} 单打规则
      %li
        %a{"href" => "#shuangda", "data-role" => "button"} 双打规则
      %li
        %a{"href" => "#sanda", "data-role" => "button"} 三打三
      %li
        %a{"href" => "#qiu", "data-role" => "button"} 羽球规格
      %li
        %a{"href" => "#pai", "data-role" => "button"} 球拍规格
      %li
        %a{"href" => "#changdi", "data-role" => "button"} 场地标准
